{% extends 'recipes/base.html' %}

{% block title %}Добавить рецепт{% endblock %}
{% block content %}
    <h1>Добавить новый рецепт</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>
        <div class="form-group">
            {{ form.description.label_tag }}
            {{ form.description }}
        </div>
        <div class="form-group">
            {{ form.ingredients.label_tag }}
            {{ form.ingredients }}
        </div>
        <div class="form-group">
            {{ form.steps.label_tag }}
            {{ form.steps }}
        </div>
        <div class="form-group">
            {{ form.cooking_time.label_tag }}
            {{ form.cooking_time }}
        </div>
        <div class="form-group">
            {{ form.image.label_tag }}
            {{ form.image }}
        </div>
        <div class="form-group">
            {{ form.categories.label_tag }}
            {{ form.categories }}
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
{% endblock %}
