<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Сайт рецептов. Лучшие рецепты для вашего стола.">
    <meta name="keywords" content="рецепты, кулинария, готовка">
    <title>Сайт рецептов</title>
    {% load static %}
    <link rel="icon" href="{% static 'recipes/images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'recipes/css/style.css' %}">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="header-container">
            <h1>Сайт рецептов</h1>
            <nav class="main-nav" aria-label="Основное меню">
                <a href="{% url 'recipes:home' %}">Главная</a>
                <a href="{% url 'recipes:all_recipes' %}">Все рецепты</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'recipes:add_recipe' %}">Добавить рецепт</a>
                    <div class="user-profile">
                        {% if user.userprofile.profile_picture %}
                            <img src="{{ user.userprofile.profile_picture.url }}" alt="Фото профиля" class="profile-picture">
                        {% else %}
                            <img src="{% static 'images/default_profile.png' %}" alt="Фото профиля" class="profile-picture">
                        {% endif %}
                        <a href="{% url 'recipes:profile' %}">Профиль</a>
                    </div>
                    <form action="{% url 'recipes:logout' %}" method="post" class="logout-form">
                        {% csrf_token %}
                        <button class="logout-button">Выйти</button>
                    </form>
                {% else %}
                    <a href="{% url 'recipes:login' %}">Войти</a>
                    <a href="{% url 'recipes:register' %}">Регистрация</a>
                {% endif %}
            </nav>
        </div>
    </header>

    <!-- Body -->
    <main class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
       
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <div class="container">
            <p>&copy; 2025 Сайт рецептов.</p>
        </div>
    </footer>
</body>
</html>