{% extends 'recipes/base.html' %}

{% block content %}

<h1>{{ recipe.title }}</h1>

{% if recipe.image %}
    <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" class="recipe-image">
{% else %}
    <p>Изображение отсутствует.</p>
{% endif %}

<div class="recipe-meta">
    {% if recipe.image %}  <!-- Проверка на наличие изображения -->
        <a href="{{ recipe.image.url }}" target="_blank">Открыть в полном размере</a>
    {% endif %}
    <p><strong>Автор:</strong> {{ recipe.author.username }}</p>
    <p><strong>Категории:</strong>
        {% for category in recipe.categories.all %}
            {{ category.name }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <p><strong>Ингредиенты:</strong>
        {% for ingredient in recipe.ingredients.all %}
            {{ ingredient.name }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
</div>

<div class="recipe-content">
    <h2>Описание</h2>
    <p>{{ recipe.description }}</p>

    <h2>Шаги приготовления</h2>
    <p>{{ recipe.preparation_steps }}</p>
</div>

{% if user == recipe.author %}
    <div class="recipe-actions">
        <a href="{% url 'recipes:edit_recipe' recipe.pk %}" class="btn">Редактировать</a>
        <a href="{% url 'recipes:delete_recipe' recipe.pk %}" class="btn btn-danger">Удалить</a>
    </div>
{% endif %}

<div class="back-to-list">
    <a href="{% url 'recipes:all_recipes' %}" class="btn btn-secondary">Вернуться к списку рецептов</a>
</div>

{% endblock %}